*
{
    margin: 0%;
    padding: 0%;
    text-align: center;
}

.index-header
{
    margin: auto;
    padding: auto;
    height: 80vh;
    width: 60%;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;

    color: #0C1821;
    background-color: #EDF2F4;
}

.index-headerText
{
    padding-top: 10vh;
}

.index-subHeader
{
    padding: 5vh;
}

.index-indexHeaderImage
{
    margin-top: 5vh;
}

.index-body
{
    height: 340vh;
    width: 100%;
    background-color: #540B0E;
    color: #EDF2F4;
}

.index-bodyHeader
{
    height: 10vh;
    width: 45%;

    margin: auto;
    padding-top: 50px;

    color: #EDF2F4;
}

.index-bodyDescription
{
    height: 15vh;
    width: 45%;

    margin: auto;

    color: #EDF2F4;
}

.index-skillbackground
{
    background-color: #540B0E;
    height: 150vh;
}

.index-skillContainer
{
    background-color: #EDF2F4;
    display: flex;
    margin: auto;

    width: 80%;
    height: 85%;

    border: 1vh;
    border-radius: 1vh;
}

.index-skillCard
{
    margin-top: 15px;
    padding: 3%;

    width: 30%;
    height: 80%;

    color: #0C1821;
    background-color: #EDF2F4;

    border: 1vh;
    border-radius: 1vh;
}

.index-skillImage
{
    margin: auto;

    padding: 5%;
    height: 150px;
    width: 150px;
}

.index-skillHeader
{
    justify-content: center;
    vertical-align: middle;

    height: 10vh;
    padding-bottom: 5vh;

    font-size: 32px;
}

.index-skillCard h3
{
    padding-bottom: 5%;

    color: #540B0E;
}

.index-skillCard p
{
    padding-bottom: 5vh;

    font-size: 20px;
    font-weight: lighter;
}

.index-experienceBlock
{
    height: 15vh;
}

.index-skillsBlock
{
    height: 8vh;
}

.index-skillCard li
{
    list-style: none;
    padding-bottom: 1vh;

    font-size: 20px;
    font-weight: lighter;
}

.index-previousWorkContainer
{
    color: #0C1821;
    background-color: #EDF2F4;

    height: 110vh;
}

.index-previousWorkContainer h1
{
    padding-top: 5vh;
    padding-bottom: 3vh;
}

.index-worksContainer
{
    display: flex;
    flex-wrap: wrap;
    margin: auto;

    height: 100vh;
    width: 85%;
}

.index-workCard
{
    float: left;
    margin: auto;

    height: 300px;
    width: 500px;

    border-radius: 1vh;
}

.index-detailsButtonContainer
{
    height: 75px;
    width: 100%;
}

.index-moreDetailsButton
{
    background-color: #EDF2F4;
    border-color: #540B0E;

    float: right;

    height: 60px;
    width: 275px;

    border: 3px solid #540B0E;
    border-radius: 1vh;
    transition-duration: 0.index-4s;

    margin: auto;
}

.index-moreDetailsButton:hover
{
    background-color: #8D99AE;
}

.index-moreDetailsLink
{
    color: #540B0E;

    font-size: 18px;
    text-decoration: none;
}