*
{
    margin: 0%;
    padding: 0%;
    text-align: center;
}

.indexHeader
{
    margin: auto;
    padding: auto;
    height: 100vh;
    width: 60%;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;

    color: #0C1821;
    background-color: #EDF2F4;
}

.headerText
{
    padding-top: 10vh;
}

.subHeader
{
    padding: 10vh;
}

.body
{
    height: 350vh;
    background-color: #540B0E;
    color: #EDF2F4;
}

.headerContainer
{
    height: 60vh;
    background-color: #540B0E;
}

.bodyHeader
{
    padding-top: 20vh;
}

.bodyDescription
{
    margin: 10vh auto 10vh auto;
    width: 45%;
}

.skillbackground
{
    background-color: #540B0E;
    height: 150vh;
}

.skillContainer
{
    background-color: #EDF2F4;
    display: flex;
    margin: auto;

    width: 80%;
    height: 85%;

    border: 1vh;
    border-radius: 1vh;
}

.skillCard
{
    margin-top: 15px;
    padding: 3%;

    width: 30%;
    height: 80%;

    color: #0C1821;
    background-color: #EDF2F4;

    border: 1vh;
    border-radius: 1vh;
}

.skillImage
{
    margin: auto;

    padding: 5%;
    height: 150px;
    width: 150px;
}

.header
{
    justify-content: center;
    vertical-align: middle;

    height: 10vh;
    padding-bottom: 5%;

    font-size: 32px;
}

.skillCard h3
{
    padding-bottom: 5%;

    color: #540B0E;
}

.skillCard p
{
    padding-bottom: 5vh;

    font-size: 20px;
    font-weight: lighter;
}

.experienceBlock
{
    height: 15vh;
}

.skillsBlock
{
    height: 8vh;
}

.skillCard li
{
    list-style: none;
    padding-bottom: 1vh;

    font-size: 20px;
    font-weight: lighter;
}

.previousWorkContainer
{
    color: #0C1821;
    background-color: #EDF2F4;

    height: 115vh;
}

.previousWorkContainer h1
{
    padding-top: 5vh;
    padding-bottom: 3vh;
}

.worksContainer
{
    display: flex;
    flex-wrap: wrap;
    margin: auto;

    height: 100vh;
    width: 85%;
}

.workCard
{
    float: left;
    margin: auto;
    padding-bottom: 5vh;

    height: 300px;
    width: 500px;

    border-radius: 1vh;
}

