*
{
    margin: 0%;
    padding: 0%;
    text-align: center;

    color: #0C1821;
}

.portfolio-header
{
    height: 20vh;
    width: 65%;

    margin: auto;
    margin-bottom: 1vh;
    padding: 1vh;
}

.portfolio-headerText
{

}

.portfolio-subHeader
{
    
}

.portfolio-releasedProjectsHeader
{
    height: 5vh;
    margin: auto;
    padding-top: 10vh;
    text-align: center;
}

.portfolio-releasedProjectsHeader h1
{
    color: #EDF2F4;
}

.portfolio-releasedProjectsBackground
{
    background-color: #540B0E;

    padding: 1vh;
}

.portfolio-releasedProjectsContainer
{
    background-color: #EDF2F4;

    margin: auto;
    margin-top: 3vh;
    padding: 2vh;
    width: 95%;

    border: 1vh;
    border-radius: 1vh;

    display: flex;
    flex-wrap: wrap;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 1em;
}

.portfolio-personalProjectsBackground
{
    background-color: #540B0E;

    padding: 1vh;
}

.portfolio-personalProjectsHeader
{
    height: 5vh;
    margin: auto;
    padding-top: 10vh;
    text-align: center;
}

.portfolio-personalProjectsHeader h1
{
    color: #EDF2F4;
}

.portfolio-personalProjectsContainer
{
    background-color: #EDF2F4;

    margin: auto;
    margin-top: 5vh;
    padding: 2vh;
    width: 95%;

    border: 1vh;
    border-radius: 1vh;

    display: flex;
    flex-wrap: wrap;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 1em;
}

.portfolio-cardContainer
{
    height: 300px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}