*
{
    margin: 0%;
    padding: 0%;

    color: #0C1821;
}

.FSGS-headerContainer
{
    background-color: #EDF2F4;

    height: 15vh;
}

.FSGS-bodybackground
{
    background-color: #540B0E;

    height: 70vh;

    padding: 5vh;
}

.FSGS-bodyContainer
{
    background-color: #EDF2F4;

    height: 80%;
    width: 90%;

    margin: auto;
    justify-content: center;

    border: 1vh;
    border-radius: 1vh;
}

.FSGS-leftBox
{
    float: left;

    height: 100%;
    width: 40%;

    border: 1vh;
    border-radius: 1vh;

    margin: auto;
}

.FSGS-imageBox
{
    height: 80%;
    width: 80%;
    overflow: hidden;

    padding-top: 7%;
}

.FSGS-projectImage
{
    position:relative;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: auto;
}

.FSGS-rightBox
{
    float: right;

    height: 100%;
    width: 60%;

    border: 1vh;
    border-radius: 1vh;
}

.FSGS-projectTitle
{
    padding-top: 5vh;

    text-align: left;

    font-size: 32px;
}

.FSGS-descriptionTitle
{
    padding-top: 5vh;

    text-align: left;

    font-size: 24px;
}

.FSGS-projectDescription
{
    padding-top: 1vh;

    text-align: left;
    margin-right: 10%;

    font-size: 18px;
}

.FSGS-linkTitle
{
    padding-top: 5vh;

    text-align: left;

    font-size: 24px;
}

.FSGS-link
{
    float: left;
    margin-left: 0;

    font-size: 24px;
    text-align: left;
}

.FSGS-linkDiv
{
    height: 4vh;
    width: 30%;

    margin: auto;
    margin-left: 0;
}

.FSGS-or
{
    font-size: 22px;
    text-align: left;
}