*
{
    margin: 0%;
    padding: 0%;

    color: #0C1821;
}

.headerContainer
{
    background-color: #EDF2F4;

    height: 15vh;
}

.bodybackground
{
    background-color: #540B0E;

    height: 70vh;

    padding: 5vh;
}

.bodyContainer
{
    background-color: #EDF2F4;

    height: 80%;
    width: 90%;

    margin: auto;
    justify-content: center;

    border: 1vh;
    border-radius: 1vh;
}

.leftBox
{
    float: left;

    height: 100%;
    width: 30%;

    border: 1vh;
    border-radius: 1vh;
}

.projectImage
{
    height: 400px;
    width: 400px;

    margin: auto;
    margin-top: 5vh;
}

.rightBox
{
    float: right;

    height: 100%;
    width: 70%;

    border: 1vh;
    border-radius: 1vh;
}

.projectTitle
{
    padding-top: 5vh;

    text-align: left;
}

.descriptionTitle
{
    padding-top: 5vh;

    text-align: left;
}

.projectDescription
{
    padding-top: 1vh;

    text-align: left;
    margin-right: 10%;
}

.linkTitle
{
    padding-top: 5vh;

    text-align: left;
}

.link
{
    padding-top: 1vh;

    float: left;
    margin-left: 0;
}