
.template-headerContainer
{
    background-color: #EDF2F4;

    height: 15vh;
}

.template-bodybackground
{
    background-color: #540B0E;

    height: 70vh;

    padding: 5vh;
}

.template-bodyContainer
{
    background-color: #EDF2F4;

    height: 80%;
    width: 90%;

    margin: auto;
    justify-content: center;

    border: 1vh;
    border-radius: 1vh;
}

.template-leftBox
{
    float: left;

    height: 100%;
    width: 30%;

    border: 1vh;
    border-radius: 1vh;
}

.template-projectImage
{
    height: 400px;
    width: 400px;

    margin: auto;
    margin-top: 5vh;
}

.template-rightBox
{
    float: right;

    height: 100%;
    width: 70%;

    border: 1vh;
    border-radius: 1vh;
}

.template-projectTitle
{
    padding-top: 5vh;

    text-align: left;
}

.template-descriptionTitle
{
    padding-top: 5vh;

    text-align: left;
}

.template-projectDescription
{
    padding-top: 1vh;

    text-align: left;
    margin-right: 10%;
}

.template-linkTitle
{
    padding-top: 5vh;

    text-align: left;
}

.template-link
{
    padding-top: 1vh;

    float: left;
    margin-left: 0;
}