*
{
    margin: 0%;
    padding: 0%;

    color: #0C1821;
    font-family: Arial, Helvetica, sans-serif;

    text-align: center;
}

.FSLM-header
{
    margin: auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
    height: auto;
    width: 60%;

	font-size: 24px;

    color: #0C1821;
    background-color: #EDF2F4;

    text-decoration: underline;
}

.FSLM-headerText
{
    padding-top: 5vh;
}

.FSLM-bodybackground
{
    background-color: #540B0E;

    height: 70vh;

    padding: 5vh;

    box-shadow: inset 0px 5px 10px -5px #0C1821;
}

.FSLM-bodyContainer
{
    background-color: #EDF2F4;

    height: 80%;
    width: 90%;

    margin: auto;
    justify-content: center;

    border: 1vh;
    border-radius: 1vh;

    box-shadow: 5px 5px 10px #0C1821;
}

.FSLM-leftBox
{
    float: left;

    height: 100%;
    width: 40%;

    border: 1vh;
    border-radius: 1vh;

    margin: auto;
}

.FSLM-imageBox
{
    height: 80%;
    width: 80%;
    margin: auto;
    overflow: hidden;
        
    display: flex;
    justify-content: center;

    padding-top: 7%;
}

.FSLM-projectImage
{
    position:relative;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: auto;
}

.FSLM-rightBox
{
    float: right;

    height: 100%;
    width: 60%;

    border: 1vh;
    border-radius: 1vh;
}

.FSLM-projectTitle
{
    padding-top: 5vh;

    text-align: left;
    text-decoration: underline;

    font-size: 32px;
}

.FSLM-descriptionTitle
{
    padding-top: 5vh;

    text-align: left;

    font-size: 24px;
}

.FSLM-projectDescription
{
    padding-top: 1vh;

    text-align: left;
    margin-right: 10%;

    font-size: 18px;
}

.FSLM-linkTitle
{
    padding-top: 5vh;

    text-align: left;

    font-size: 24px;
}

.FSLM-link
{
    float: left;
    margin-left: 0;

    font-size: 24px;
    text-align: left;
}

.FSLM-link:hover
{
    color: #540B0E;
}

.FSLM-linkDiv
{
    height: 4vh;
    width: 30%;

    margin: auto;
    margin-left: 0;
}

.FSLM-or
{
    font-size: 22px;
    text-align: left;
}

@media screen and (max-width:1920px)
{
    .FSLM-bodyContainer
    {
        height: 80%;
    }

    .FSLM-link
    {
        font-size: 24px;
    }

    .FSLM-linkDiv
    {
        height: 4vh;
        width: 30%;
    }

    .FSLM-or
    {
        font-size: 22px;
    }
}

@media screen and (max-width:1366px)
{
    .FSLM-bodyContainer
    {
        height: 100%;
    }

    .FSLM-link
    {
        font-size: 18px;
    }

    .FSLM-linkDiv
    {
        height: 5vh;
        width: 60%;
    }

    .FSLM-or
    {
        font-size: 18px;
    }
}