.Maelstrom-header
{
    margin: auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
    height: auto;
    width: 60%;

	font-size: 24px;

    color: #EDF2F4;
    background-color: #0C1821;
    text-decoration: underline;
}

.Maelstrom-headerText
{
    padding-top: 5vh;

    color: #EDF2F4;
}

.Maelstrom-bodybackground
{
    background-color: #540B0E;

    height: 70vh;

    padding: 5vh;

    box-shadow: inset 0px 5px 10px -5px #0C1821;
}

.Maelstrom-bodyContainer
{
    background-color: #0C1821;

    height: 80%;
    width: 90%;

    margin: auto;
    justify-content: center;

    border: 1vh;
    border-radius: 1vh;

    box-shadow: 5px 5px 10px #0C1821;
}

.Maelstrom-leftBox
{
    float: left;

    height: 100%;
    width: 50%;

    border: 1vh;
    border-radius: 1vh;

    margin: auto;
}

.Maelstrom-imageBox
{
    height: 80%;
    width: 90%;
    margin: auto;
    overflow: hidden;

    display: flex;
    justify-content: center;

    padding-top: 7%;
}

.Maelstrom-projectImage
{
    position:relative;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: auto;
}

.Maelstrom-rightBox
{
    float: right;

    height: 100%;
    width: 50%;

    border: 1vh;
    border-radius: 1vh;
}

.Maelstrom-projectTitle
{
    padding-top: 5vh;

    text-align: left;
    text-decoration: underline;

    font-size: 32px;

    color: #EDF2F4;
}

.Maelstrom-descriptionTitle
{
    padding-top: 5vh;

    text-align: left;

    font-size: 24px;

    color: #EDF2F4;
}

.Maelstrom-projectDescription
{
    padding-top: 1vh;

    text-align: left;
    margin-right: 10%;

    font-size: 18px;

    color: #EDF2F4;
}

.Maelstrom-linkTitle
{
    padding-top: 5vh;

    text-align: left;

    font-size: 24px;

    color: #EDF2F4;
}

.Maelstrom-link
{
    float: left;
    margin-left: 0;

    font-size: 24px;
    text-align: left;

    color: #EDF2F4;
}

.Maelstrom-link:hover
{
    color: #540B0E;
}

.Maelstrom-linkDiv
{
    height: 4vh;
    width: 30%;

    margin: auto;
    margin-left: 0;
}

.Maelstrom-or
{
    font-size: 22px;
    text-align: left;

    color: #EDF2F4;
}

@media screen and (max-width:1920px)
{
    .Maelstrom-bodyContainer
    {
        height: 80%;
    }

    .Maelstrom-link
    {
        font-size: 24px;
    }

    .Maelstrom-linkDiv
    {
        height: 4vh;
        width: 30%;
    }

    .Maelstrom-or
    {
        font-size: 22px;
    }
}

@media screen and (max-width:1366px)
{
    .Maelstrom-bodyContainer
    {
        height: 100%;
    }

    .Maelstrom-link
    {
        font-size: 18px;
    }

    .Maelstrom-linkDiv
    {
        height: 5vh;
        width: 60%;
    }

    .Maelstrom-or
    {
        font-size: 18px;
    }
}