.SCEGameshow-header
{
    margin: auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
    height: auto;
    width: 60%;

	font-size: 24px;

    text-decoration: underline;

    color: #EDF2F4;
    background-color: #0C1821;
}

.SCEGameshow-headerText
{
    padding-top: 5vh;

    color: #EDF2F4;
}

.SCEGameshow-bodybackground
{
    background-color: #540B0E;

    height: 70vh;

    padding: 5vh;
}

.SCEGameshow-bodyContainer
{
    background-color: #0C1821;

    height: 80%;
    width: 90%;

    margin: auto;
    justify-content: center;

    border: 1vh;
    border-radius: 1vh;
}

.SCEGameshow-leftBox
{
    float: left;

    height: 100%;
    width: 30%;

    border: 1vh;
    border-radius: 1vh;
}

.SCEGameshow-projectImage
{
    height: auto;
    width: auto;

    margin: auto;
    margin-top: 5vh;
}

.SCEGameshow-rightBox
{
    float: right;

    height: 100%;
    width: 70%;

    border: 1vh;
    border-radius: 1vh;
}

.SCEGameshow-projectTitle
{
    padding-top: 5vh;

    text-align: left;

    color: #EDF2F4;
}

.SCEGameshow-descriptionTitle
{
    padding-top: 5vh;

    text-align: left;

    color: #EDF2F4;
}

.SCEGameshow-projectDescription
{
    padding-top: 1vh;

    text-align: left;
    margin-right: 10%;

    color: #EDF2F4;
}

.SCEGameshow-linkTitle
{
    padding-top: 5vh;

    text-align: left;

    color: #EDF2F4;
}

.SCEGameshow-link
{
    padding-top: 1vh;

    float: left;
    margin-left: 0;

    color: #EDF2F4;
}