.SCEGameshow-header
{
    margin: auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
    height: auto;
    width: 60%;

	font-size: 24px;

    text-decoration: underline;

    color: #EDF2F4;
    background-color: #0C1821;
}

.SCEGameshow-headerText
{
    padding-top: 5vh;

    color: #EDF2F4;
}

.SCEGameshow-bodybackground
{
    background-color: #540B0E;

    height: 70vh;

    padding: 5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.SCEGameshow-backButtonContainer
{
    background-color: transparent;

    height: auto;
    width: auto;

    padding-top: 1%;
    margin-left: 2%;

    text-align: left;
}

.SCEGameshow-bodyContainer
{
    background-color: #0C1821;

    height: 80%;
    width: 90%;

    margin: auto;
    margin-top: 2%;

    border: 1vh;
    border-radius: 1vh;
}

.SCEGameshow-leftBox
{
    float: left;

    height: 80%;
    width: 40%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.SCEGameshow-projectImage
{
    height: auto;
    width: 90%;
}

/* .SCEGameshow-imageBox
{
    height: 80%;
    width: 90%;
    margin: auto;
    overflow: hidden;

    display: flex;
    justify-content: center;

    padding-top: 7%;
} */

.SCEGameshow-rightBox
{
    float: right;

    height: 80%;
    width: 60%;
}

.SCEGameshow-projectTitle
{
    text-align: left;

    color: #EDF2F4;

    background-color: transparent;
}

.SCEGameshow-descriptionTitle
{
    padding-top: 2vh;

    text-align: left;

    color: #EDF2F4;
}

.SCEGameshow-projectDescription
{
    padding-top: 1vh;

    text-align: left;
    margin-right: 10%;

    color: #EDF2F4;
}

.SCEGameshow-linkTitle
{
    padding-top: 5vh;

    text-align: left;

    color: #EDF2F4;
}

.SCEGameshow-linkDiv
{
    width: 100%;
    height: 10%;
}

.SCEGameshow-link
{
    float: left;
    margin-left: 0;

    color: #EDF2F4;
}

.SCEGameshow-or
{
    font-size: 22px;
    text-align: left;

    color: #EDF2F4;
}

.SCEGameshow-button
{
    background-color: transparent;

    width: auto;
    font-size: 22px;
    text-align: left;

    float: left;
    margin-left: 0;

    text-decoration: underline;
    border-color: transparent;
}

/* @media screen and (max-width:1920px)
{
    .SCEGameshow-bodyContainer
    {
        height: 80%;
    }

    .SCEGameshow-link
    {
        font-size: 24px;
    }

    .SCEGameshow-linkDiv
    {
        height: 4vh;
        width: 30%;
    }

    .SCEGameshow-or
    {
        font-size: 22px;
    }
}

@media screen and (max-width:1366px)
{
    .SCEGameshow-bodyContainer
    {
        height: 100%;
    }

    .SCEGameshow-link
    {
        font-size: 18px;
    }

    .SCEGameshow-linkDiv
    {
        height: 5vh;
        width: 60%;
    }

    .SCEGameshow-or
    {
        font-size: 18px;
    }
} */