*
{
    margin: 0%;
    padding: 0%;

    color: #0C1821;
    font-family: Arial, Helvetica, sans-serif;

    text-align: center;
}

.TPMS-header
{
    margin: auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
    height: auto;
    width: 60%;

	font-size: 24px;

    color: #0C1821;
    background-color: #EDF2F4;

    text-decoration: underline;
}

.TPMS-headerText
{
    padding-top: 5vh;
}

.TPMS-bodybackground
{
    background-color: #540B0E;

    height: 70vh;

    padding: 5vh;

    box-shadow: inset 0px 5px 10px -5px #0C1821;
}

.TPMS-bodyContainer
{
    background-color: #EDF2F4;

    height: 80%;
    width: 90%;

    margin: auto;
    justify-content: center;

    border: 1vh;
    border-radius: 1vh;

    box-shadow: 5px 5px 10px #0C1821;
}

.TPMS-leftBox
{
    float: left;

    height: 100%;
    width: 50%;

    border: 1vh;
    border-radius: 1vh;

    margin: auto;
}

.TPMS-imageBox
{
    height: 80%;
    width: 90%;
    margin: auto;
    overflow: hidden;
        
    display: flex;
    justify-content: center;

    padding-top: 7%;
}

.TPMS-projectImage
{
    position:relative;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: auto;
}

.TPMS-rightBox
{
    float: right;

    height: 100%;
    width: 50%;

    border: 1vh;
    border-radius: 1vh;
}

.TPMS-projectTitle
{
    padding-top: 5vh;

    text-align: left;
    text-decoration: underline;

    font-size: 32px;
}

.TPMS-descriptionTitle
{
    padding-top: 5vh;

    text-align: left;

    font-size: 24px;
}

.TPMS-projectDescription
{
    padding-top: 1vh;

    text-align: left;
    margin-right: 10%;

    font-size: 18px;
}

.TPMS-linkTitle
{
    padding-top: 5vh;

    text-align: left;

    font-size: 24px;
}

.TPMS-link
{
    float: left;
    margin-left: 0;

    font-size: 24px;
    text-align: left;
}

.TPMS-link
{
    color: #540B0E;
}

.TPMS-linkDiv
{
    height: 4vh;
    width: 30%;

    margin: auto;
    margin-left: 0;
}

.TPMS-or
{
    font-size: 22px;
    text-align: left;
}

@media screen and (max-width:1920px)
{
    .TPMS-bodyContainer
    {
        height: 80%;
    }

    .TPMS-link
    {
        font-size: 24px;
    }

    .TPMS-linkDiv
    {
        height: 4vh;
        width: 30%;
    }

    .TPMS-or
    {
        font-size: 22px;
    }
}

@media screen and (max-width:1366px)
{
    .TPMS-bodyContainer
    {
        height: 100%;
    }

    .TPMS-link
    {
        font-size: 18px;
    }

    .TPMS-linkDiv
    {
        height: 5vh;
        width: 60%;
    }

    .TPMS-or
    {
        font-size: 18px;
    }
}