*
{
    color: #EDF2F4;
}

.overlayImage-imageBox
{
    position: relative;

    height: 100%;
    width: 100%;

    overflow: hidden;
    border-radius: 1vh;
}

.overlayImage-imageBox .overlayImage-overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #EDF2F4;
    background: #0C1821;
    opacity: 0;
    transition: opacity 0.3s;
}

.overlayImage-imageBox:hover .overlayImage-overlay
{
    opacity: .9;
}

.overlayImage-overlay h2
{
    padding-top: 5%;

    color: #EDF2F4;
}

.overlayImage-overlay p
{
    padding: 5%;

    color: #EDF2F4;
}

.overlayImage-workLink:link
{
    color:#EDF2F4;
}

.overlayImage-workLink:hover
{
    color: #540B0E;
}

.overlayImage-workLink:visited
{
    color: #8D99AE;
}

.overlayImage-workLink:active
{
    color: #8D99AE;
}

.overlayImage-linkButton
{
    color: #EDF2F4;
    background-color:transparent;
    border: 2px solid #EDF2F4;
    border-radius: 1vh;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.3s;
}

.overlayImage-linkButton:hover
{
    background-color: #540B0E;
}

.overlayImage-workImage
{
    position:relative;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 110%;
    width: auto;
}